{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}">
		<title>My Notes</title>
		<style type="text/css">
		
			body {
				margin:0;
				padding:0;
				font-family: Sans-Serif;
				line-height: 1.5em;
			}
			
			#header {
				background: #ccc;
				height: 100px;
			}
			
			#header h1 {
				margin-top: 0;
				padding-top: 35px;
			}
			
			main {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 100%;
			}
			
			#nav {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 230px;
				margin-left: -100%;
				background: #eee;
			}
			
			#footer {
				clear: left;
				width: 100%;
				background: #ccc;
				text-align: center;
				padding: 4px 0;
			}
	
			#wrapper {
				overflow: hidden;
			}
						
			#content {
				margin-left: 230px; /* Same as 'nav' width */
			}
			
			.innertube {
				margin: 15px; /* Padding for content */
				margin-top: 0;
			}
		
			p {
				color: #555;
			}
	
			nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			
			nav ul a {
				color: darkgreen;
				text-decoration: none;
			}
		
		</style>	
	
	</head>
	
	<body>		

		<header id="header">
			<div class="innertube">
				<h1><i>MyNotes</i></h1>
			</div>
		</header>
		
		<div id="wrapper">
		
			<main>
				<div id="content">
					<div class="innertube">
						<h2>{{title}}</h2>
						<p>{{signup}}</p>
						<p>{{form2.note.data}}</p><br>
						<form method='POST' action=''>{% csrf_token %}
							{{form2}}
							<br><br>
							<input type='submit' value='Post'/>
						</form><br><br>
					</div>
				</div>
			</main>
			
			<nav id="nav">
				<div class="innertube">
					<h3>Sign up</h3><hr>
					<form method='POST' action=''>{% csrf_token %}
						{{form}}
						<br>
						<input type='submit' value='Sign up'/>
					</form>

					<h3>All notes</h3> 

					{% load render_table from django_tables2 %}
					{% render_table notes %}

				</div>
			</nav>
		
		</div>
		
		<footer id="footer">
			<div class="innertube">
				<p>Footer...</p>
			</div>
		</footer>
	
	</body>
</html>